/* font-family: 'Playfair Display', serif; --- Header -- */
/* font-family: 'Roboto', sans-serif; --- Body -- */

body {
    overflow-x: hidden;
    font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
    color: #505962;
}

.offset::before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation ---*/

.navbar {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand {
    height: 3rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #c2abee;
}

/*-- Landing Page --*/

.home-inner {
  background-size: cover; 
  height: 100vh;
  background-image: url(../img/laptopGlasses.jpg)!important;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h2 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem
}

.btn-lg.active,
.btn-lg:hover {
  background: #c2abee;
  border-color: #c2abee;
}

/*-- About Me --*/

.jumbotron p {
  color: white!important;
}

.jumbotron {
  background-color: #40474e;
}

.jumbotron h3 {
  color: white;
  font-size: 3rem;
}

.picture img {
  width: 100%;
  border-radius: 50%;

}


/*-- Portfolio --*/

.fixed {
  background-image: url(../img/rain_key.jpg);
  z-index: -1;
}

.fixed-background h3 {
  color: white;
  font-size: 3rem;
}

.fixed-background h2 {
  color: #c2abee;
  font-size: 2rem!important;
  padding-bottom: 2rem;
}

.fixed-background p {
  color: white;
  padding-top: 1.5rem;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}
/* 
#portfolio.offset::before {
  color: gray;
} */

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #c2abee;
  margin: 0 auto 2rem;
  margin-top: 1.5rem;
}

/* -- Contact --*/

footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #c2abee!important;
}

hr .socket {
  width: 100%;
  border-top: .2rem solid #c2abee;
  margin-top: 3rem;
}

footer a {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer a:hover {
  color: #c2abee;
}
/* footer {
  background-image: url(../img/wood.png);
} */



  /*--- Media Queries --*/

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h2 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .picture img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}